<!-- <p>dashboard works!</p> -->
<div class = " container">
  <div class="content">
    <div class="first">
      <div class="cards">
        <div class="card" *ngFor="let status of statuses">
          <div class="card-details">
            <div class="icon">
              <img src={{status.iconUrl}} width="40px" alt="icon">
            </div>
            <div class="info">
              <p>{{status.name}}</p>
            </div>
          </div>
          <div class="count">
            <p>{{status.count}}</p>
          </div>
        </div>

      </div>
      <div class="charts">
        <div class="left"></div>
        <div class="right">
          <div class="pie-chart">
            <h3>Employee type</h3>
            <div class="chart-container"></div>
          </div>

          <div class="pie-chart">
            <h3>Complaints by gender</h3>
            <div class="chart-container"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="second">
      <div class="categories">
        <h3>Complaint status</h3>
        <div class="category-card" *ngFor="let category of categories">
          <div class="category-details">
            <div class="icon">
              <i [class]="category.iconUrl"></i>
              <!-- <img src="./../../../assets/padlock-icon.svg" width="40px" alt="icon"> -->
            </div>
            <div class="info">
              <p>{{category.name}}</p>
            </div>
          </div>
          <div class="count">
            <p>{{category.count}}</p>
          </div>
        </div>
      </div>

      <div class="responses">
        <h3>Response Mode</h3>
        <div class="response-card" *ngFor="let response of responses">
          <div class="response-details">
            <div class="icon">
              <i [class]="response.iconUrl"></i>
            </div>
            <div class="info">{{response.name}}</div>
          </div>
          <div class="count">{{response.count}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
