<!-- <p>navbar works!</p> -->
<div class="container" (mouseover)="toggle()" (mouseleave)="toggle()">
  <div class="top">
    <div class="nav-links">
      <div class="nav-link">
        <div class="icons" >
          <img src="../../../favicon.ico" width="40px" alt="icon">
        </div>
        <div class="icons-ext" [ngClass]="{extended: extendNav}">
          <p>home</p>
          <p>&gtcir;</p>
        </div>
      </div>
      <div class="nav-link">
        <div class="icons">
          <img src="../../../favicon.ico" width="40px" alt="icon">
        </div>
        <div class="icons-ext">
          <p>home</p>
        </div>
      </div><div class="nav-link">
        <div class="icons">
          <img src="../../../favicon.ico" width="40px" alt="icon">
        </div>
        <div class="icons-ext">
          <p>home</p>
        </div>
      </div><div class="nav-link">
        <div class="icons">
          <img src="../../../favicon.ico" width="40px" alt="icon">
        </div>
        <div class="icons-ext">
          <p>home</p>
        </div>
      </div>

    </div>
  </div>
  <div class="bottom">
      <div class="nav-link">
      <div class="icons">
        <img src="../../../favicon.ico" width="40px" alt="icon">
      </div>
      <div class="icons-ext">
        <p>profile</p>
      </div>
    </div>
  </div>
</div>
