<!-- <p>navbar works!</p> -->
<div class="container">
  <div class="top">
    <div class="nav-links">
      <div class="nav-link">
        <div class="icons">
          <img src="../../../assets/dash/dashboard-icon.svg" width="30px" alt="icon">
        </div>
        <div [ngClass]="extendNav ? 'icon-info-ext' : 'iocn-info-shrink'"class="icons-ext">
          <p>Dashboard</p>
        </div>
      </div>
      <div class="nav-link">
        <div class="icons"  >
          <i class="fa fa-list maximize"></i>
        </div>
        <div class="icons-ext">
          <p>Complaints</p>
          <p>&gtcir;</p>
        </div>
      </div>
      <div class="nav-link">
        <div class="icons">
          <i class="fa fa-users maximize"></i>
        </div>
        <div class="icons-ext">
          <p>Employees</p>
        </div>
      </div>
      <div class="nav-link">
        <div class="icons">
          <i class="fa fa-th maximize"></i>
        </div>
        <div class="icons-ext">
          <p>Departments</p>
        </div>
      </div>

    </div>
  </div>
  <div class="bottom">
    <div class="nav-links">
      <div class="nav-link">
        <div class="icons">
          <i class="fa fa-user-circle-o maximize"></i>
        </div>
        <div class="icons-ext">
          <p>profile</p>
        </div>
      </div>
    </div>
  </div>
</div>
