<div class="page">

  <div class="start">
    <!-- <p>login-regis/ter component works!</p> -->
    <div class="bg1"></div>
    <div class="bg2"></div>
    <div class="container">
      <div class="form-div">
        <!-- login form -->
        <!-- <div class="login-form">
          <div class="heading">
            <img src="../../../assets/megaphone.svg" width="150px" alt="" class="icon">
            <div class="header russo-one-regular">speakUp</div>
          </div>
          <form>
            <div class="email">
              <label for="email">Email address</label>
              <div class="input-container">
                <input type="text">
                <img src="../../../assets/msg-icon.svg" width="45px" alt="">
              </div>
            </div>
            <div class="email">
              <label for="email">Password</label>
              <div class="input-container">
                <input type="text">
                <img src="../../../assets/padlock-icon.svg" width="45px" alt="">
              </div>
            </div>
            <p class="alt-link">Forgot password?</p>
            <button>Login now</button>
          </form>
          <div class="or">
            <hr><span>OR</span><hr>
          </div>
          <button>Signup now</button>
        </div> -->

        <!-- sign up form -->
        <div class="signup-form">
          <div class="heading">
            <img src="../../../assets/megaphone.svg" width="150px" alt="" class="icon">
            <div class="header russo-one-regular">speakUp</div>
          </div>
          <form>
            <div class="email">
              <label for="email">Email address</label>
              <div class="input-container">
                <input type="text">
                <img src="../../../assets/msg-icon.svg" width="45px" alt="">
              </div>
            </div>
            <div class="email">
              <label for="email">Password</label>
              <div class="input-container">
                <input type="text">
                <img src="../../../assets/padlock-icon.svg" width="45px" alt="">
              </div>
            </div>
            <div class="password">
              <label for="password">Confirm Password</label>
             <div class="input-container">
                <input type="text">
                <img src="../../../assets/padlock-icon.svg" width="45px" alt="">
              </div>
            </div>
            <button>Signup now</button>
          </form>

          <p class="alt-link">Already have an account? Login now</p>
        </div>
      </div>
      <div class="bg-img"></div>
    </div>
  </div>
  <div class="end"></div>
</div>
